a:hover img {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
}
a:active img {
    -webkit-filter: brightness(2);
    filter: brightness(2);
}
#logo {
    display: block;
    width: 640px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
